html {
  margin: 0;
}

.side-bar {
  height: 100%;
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url(./components/img/bck-image.jpg);
  background-size: contain;
  padding-top: 100px;
}

.side-bar a {
  padding: 6px 8px 6px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  font-weight: 100;
  display: block;
}

.side-bar a:hover {
  color: #000000;
}

.logo {
  border: 1px solid white;
  width: 120px;
  margin: 0 auto;
  height: 40px;
}

.logo h2 {
  text-align: center;
  vertical-align: middle;
  line-height: 1px;
  color: white;
  font-weight: 100;
}

.logo:hover {
  background-color: #E6E4F5;
}

.container {
  position: relative;
  left: 0;
  background-image: url(./components/img/lilapotato.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  overflow-y: hidden;
  font-family: 'Montserrat',
    sans-serif;
}

.intro {
  position: relative;
  width: 100%;
  left: 140px;
}

@media screen and (max-width: 600px) {
  .container {
    left: 30px;
  }
}

h1 {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  padding-top: 50px;
  color: #ffffff;
  font-size: 90px;
  font-weight: 200;
  text-align: center;
}

h3 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}

p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
  text-align: center;

}

.description {
  border: 1px solid white;
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
}

.extra-line {
  border: 1px solid white;
  width: 420px;
  height: 255px;
  margin: 0 auto;
  margin-top: 10px;
}